@media (min-width: 1200px) {
  .container {
    width: 1030px;
  }
}
a {
  color: #5f1a89;
}
.header-center {
  padding: 5px 0px;
}
.header-logo img {
  width: 120px;
}
nav.navbar.bootsnav ul.nav > li > a {
  padding: 4px 21px;
  font-size: 12px;
}
.header-search button {
  position: absolute;
  right: 0;
  top: 0;
  background: #5f1a89;
  border: none;
  padding: 4px 28px;
  border-radius: 100px;
  color: #fff;
  font-size: 12px;
}
.header-search .header-search-input {
  width: 0%;
}
.header-search .header-search-input,
.header-search .header-search-input.search-open {
  padding: 15px 20px;
  font-size: 12px;
  border-radius: 4px;
  border-color: rgba(255, 255, 255, 0.4);
  height: 32px;
}
.header-search .header-search-input.search-open {
  width: 100%;
}
.social .attr-nav {
    width: 165px;
}
.mvcast-item li {
  display: inline-block;
  text-align: center;
  padding-right: 10px;
}
.mvcast-item li:last-child {
  padding-right: 0px;
}
.mvcast-item li img {
  width: 80px;
  height: 80px;
  border-radius: 50%;
}
.mvcast-item li p {
  font-size: 12px;
}
.category-slide2 .owl-prev {
  right: 44px;
  top: -52px;
}
.category-slide2 .owl-next {
  top: -52px;
  right: 0px;
}
.cat-menu ul li span:after {
  height: 3px;
  bottom: -5px;
}
.cat-menu .nav-tabs>li.active>a,
.cat-menu .nav-tabs>li.active>a:focus,
.cat-menu .nav-tabs>li.active>a:hover {
  border: 1px solid transparent;
}
.full-withbanner {
  margin-bottom: 30px;
}
.ratting {
  color: #fff;
}
.show-time-wrapper .time-select .items-wrap {
  margin: 10px 0;
}
h5.showtime-heading,
.dec-review-meta ul li a,
.dec-review-meta ul li span,
.time-duration {
  font-size: 13px;
  line-height: 18px;
}
.special-widget {
  border: 1px solid #5f1a89;
  background: #fff;
}
.special-widget p {
  color: #5f1a89;
  font-size: 13px;
}
.list-group-item,
.bs-example .checkbox-inline,
.bs-example .radio-inline,
.widget-content p {
  font-size: 13px;
  line-height: 20px;
}
.bs-example .checkbox-inline, .bs-example .radio-inline {
  margin: 10px 2px 10px 0px;
}
.special-widget-title {
  background: #5f1a89;
}
.details-content,
.products.product-list {
  width: 100%;
  float: left;
  margin-bottom: 60px;
}
.hadding-area h2 {
  display: inline;
}
.show-time-wrapper {
  margin-bottom: 30px;
}
.show-time-wrapper:last-child {
  margin-bottom: 0;
}
.styled-select {
  background: #fff;
  height: 30px;
  line-height: 30px;
}
.styled-select select {
  color: #5f1a89;
  font-size: 13px;
  text-transform: uppercase;
  width: 160px;
}
.styled-select select option {
  white-space: nowrap;
  width: 160px;
  overflow: hidden;
  text-overflow: ellipsis;
}
.styled-select#lang-selector:after {
  color: #5f1a89;
  content: "\ef79";
  font-family: "IcoFont";
}
.show-time-wrapper .btn.btn-button, .show-time-wrapper a.btn.btn-button {
  font-size: 12px;
  margin-top: 20px;
}
.showtime-heading {
  background-color: #3e3e40;
}
.selebritie-contetn .details-buttons {
  margin-top: 0;
}
.show-time-wrapper.even .time-select .time-select__item:after,
.time-select .time-select__item:after,
.show-time-wrapper.even .time-select .time-select__item:before,
.time-select .time-select__item:before,
.show-time-wrapper.even .time-select .time-select__item_6:before,
.time-select .time-select__item:before,
.show-time-wrapper.even .time-select .time-select__item_6:after,
.time-select .time-select__item:after,
.show-time-wrapper.even .row {
  background-color: #252629;
}
.show-time-wrapper .selebritie-contetn > a:hover {
  color: #fff;
}
.time-select .time-select__item,
.time-select .time-select__item,
.time-select .time-select__item_6 {
  width: 86px;
}
nav.navbar.bootsnav ul.nav li.megamenu-fw>a:hover,
nav.navbar.bootsnav ul.nav > li.active > a,
nav.navbar.bootsnav ul.nav > li.active > a:hover,
nav.navbar.bootsnav ul.nav > li > a:hover,
button.btn.btn-button.btn-border,
a.btn.btn-button.btn-border,
.btn.btn-button, a.btn.btn-button,
.cat-menu ul li button, .header-search button {
  border-radius: 4px;
}
.show-time-wrapper .socila-tw,
.show-time-wrapper .socila-tw,
.show-time-wrapper .socila-sk,
.show-time-wrapper .socila-pin,
.show-time-wrapper .socila-ins,
.show-time-wrapper .socila-fb {
  color: #fff;
}
.show-time-wrapper .row {
  border: 0 none;
  margin-bottom: 0;
}
.selebritie-img img {
  padding: 30px 0 30px 0px;
}
.selebritie-contetn {
  color: #fff;
  padding-right: 0;
  padding: 30px 0 0px 0px;
}
.show-time-wrapper .selebritie-contetn > h3 {
  font-size: 20px;
  font-weight: 500;
}
.seat-types .btn {
  margin-bottom: 0px;
  padding: 5px 10px 1px;
}
.seat-types .btn:hover {
  color: #fff;
}
/* .time-select.time-select__group .btn.btn-button.red-bg.button-1 {
margin-left: -11px;
} */
.category-slide2 {
  margin-bottom: 50px;
}
.dec-review-meta ul li a:hover {
  color: #fff;
}
.wrap-sticky {
  height: auto;
}
.bs-slider {
  max-height: 600px;
}
.slider-contents {
  padding: 7% 0;
  min-height: 600px;
}
.view-all-movies-1 {
  margin-top: 42px;
}
.pt-45 {
  padding-top: 45px;
}
.pb-55 {
  padding-bottom: 55px;
}
.inner-page {
  background: url(../images/slider/home-3/wrap-bg.png) no-repeat 0% 0%;
  background-attachment: fixed;
  background-position: 0 100%;
  background-repeat: no-repeat;
  background-size: cover;
}
.latest-news-section {
  background: url(../images/slider/home-3/wrap-bg.png) no-repeat 0% 0%;
  background-attachment: fixed;
  background-position: 0 100%;
  background-repeat: no-repeat;
  background-size: cover;
}
.category-movie {
  position: relative;
  overflow: hidden;
}
.category-movie:before {
  background-image: url(../images/slider/home-3/slider111.jpg);
  background-position: top;
  background-size: cover;
  content: "";
  position: absolute;
  -webkit-filter: blur(12px);
  filter: blur(12px);
  width: 100%;
  height: 100%;
  opacity: 0.6;
}
.category-movie:after {
  content: "";
  width: 100%;
  height: 100%;
  background-color: rgba(95, 26, 137, 0.7);
  position: absolute;
  left: 0;
  top: 0;
}
.haddings {
  z-index: 9;
  position: relative;
}
.button-details {
  border-top-right-radius: 0 !important;
  border-bottom-right-radius: 0 !important;
}
.hover-right {
  margin-right: -106px;
}
.full-withbanner {
  background: url(../images/banner.png) no-repeat 0% 0%;
  background-attachment: fixed;
  background-position: 50% 50%;
  background-repeat: no-repeat;
  background-size: cover;
  height: 160px;
  position: relative;
}
.full-withcon.pt-75 {
    padding-top: 65px;
}
.full-withbanner:before {
  background-image: url(../images/slider/home-3/slider111.jpg);
  background-position: top;
  background-size: cover;
  content: "";
  position: absolute;
  -webkit-filter: blur(12px);
  filter: blur(12px);
  width: 100%;
  height: 100%;
  opacity: 0.6;
}
.full-withbanner:after {
  content: "";
  width: 100%;
  height: 100%;
  background-color: rgba(95, 26, 137, 0.7);
  position: absolute;
  left: 0;
  top: 0;
}
.cat-menu {
  position: relative;
  z-index: 9;
}
.hadding-with-bg {
  border-left: 0 none;
  padding-left: 0;
  margin-bottom: 10px;
}
.cat-menu ul li a {
  padding-left: 0;
}
.cat-menu ul li span:hover {
  color: #fff;
}
.cat-menu ul li span:hover:after {
  background: #fff;
}
.copyright {
  background: #5f1a89;
}
.copyright p {
  color: rgba(202, 202, 202, 0.7);
}
.copyright a {
  color: #fff;
}
.hadding-area a.view-all-news-1 {
  margin-bottom: 0px!important;
  margin-top: 0px;
}
.ft-content p {
  padding: 0 0 10px;
}
.ft-content .social-link {
  padding-top: 15px;
}
.widget-event-post .img {
  width: 130px;
  padding: 0 20px 0 0;
}
.widget-event-post .img img {
  width: 100%;
}
.widget-event-post .item .single-item:last-child img {
  margin-bottom: 20px;
}
.widget-event-post .item {
  padding: 0px 20px 20px;
}
.widget-event-post .item a.btn {
  margin-top: 20px;
  margin-bottom: 0
}
.latest-news-small .movie-item-contents img {
  height: 167px;
}
.latest-news .movie-item-contents small {
  color: #fff;
}
.latest-news .movie-item-contents h3 {
  color: #fff;
  font-size: 25px;
  display: inline-block;
  font-weight: 600;
  line-height: 28px;
  text-transform: capitalize;
}
.latest-news .latest-news-small .movie-item-contents h3{
  font-size: 16px;
  line-height: 22px;
}
.gradient:hover a > img,
.gradient2:hover a > img,
.gradient3:hover a > img,
.gradient5:hover a > img {
  transform: scale(1.2);
  transition: all 0.4s ease-in-out;
}
.widget-recent-post .item {
  background: #070e19;
}
.comment-area {
  background: transparent;
}
.owl-theme .owl-dots {
  text-align: center;
  -webkit-tap-highlight-color: transparent;
}
.owl-theme .owl-dots .owl-dot {
  display: inline-block;
  zoom: 1;
  *display: inline;
}
.owl-theme .owl-dots .owl-dot span {
  width: 10px;
  height: 10px;
  margin: 5px 7px;
  background: #D6D6D6;
  display: block;
  -webkit-backface-visibility: visible;
  transition: opacity 200ms ease;
  border-radius: 30px;
}
.owl-theme .owl-dots .owl-dot.active span,
.owl-theme .owl-dots .owl-dot:hover span {
  background: #869791;
}
.details-slider-content {
  background-color: rgba(0,0,0,.5);
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 10;
  padding: 20px 25px;
  color: #fff;
  text-align: left;
}
.details-page .owl-theme .owl-dots .owl-dot span {
  border: 1px solid #fff;
  background: transparent
}
.details-page .owl-theme .owl-dots .owl-dot.active span {
  background: #5f1a89;
}
.details-page .owl-controls .owl-dots{
  position: absolute;
  bottom: 12px;
  right: 12px;
}
.ticket_list img {
  width: 190px;
}
.ticket_list h4 {
  margin: 20px 0px;
  font-size: 16px;
  font-weight: 400;
}
.ticket_list a.btn.btn-button {
  margin-bottom: 0;
}
.ticket_list a.btn.btn-button:hover {
  color: #5F1A88;
}
.ticket_list_item {
  border: 2px solid #5F1A88;
  border-radius: 6px;
  padding: 15px;
  margin-bottom: 15px;
}
.contact-hadding-area {
  margin-bottom: 0;
  margin-top: 20px;
}
.contact-hadding-area h3 {
  margin: 0;
}
.widget-content.fav-food h4 {
  font-weight: 400;
  margin: 10px 0px;
  font-size: 16px;
  color: #5f1a89;
}
.widget-content.fav-food a {
  margin-bottom: 0;
}
.widget-content.fav-food input[type="text"] {
  margin-bottom: 12px;
}
.media_list {
  margin-top: 20px;
}
.media_list li {
  line-height: normal;
  padding: 15px 0px;
}
.media_list li .media-text-body h3 {
  font-size: 18px;
  margin-bottom: 12px;
}
.media_list li .media-text-body p {
  font-size: 14px;
  line-height: 24px;
}
.media_list li .media-text-body p span.check-tx {
  color: #5F1A88;
}
.sticky_inner {
  padding: 0px 15px;
  left: auto!important;
}
.location_modal .modal-title {
  font-size: 22px;
}
.location_modal .modal-content {
  padding: 40px 50px;
}
.location_modal .modal-content ul {
  width: 80%;
  margin: 30px auto 0;
  max-height: 264px;
  overflow-x: hidden;
  overflow-y: auto;
}
.location_modal .modal-content ul li {
  margin-bottom: 15px;
}
.location_modal .modal-content ul li:last-child {
  margin-bottom: 0px;
}
.location_list ul li a,
.location_list ul li button {
  padding: 10px 16px 10px 60px;
  color: #5F1A88;
  border: 1px solid #d5d5d5;
  border-radius: 6px;
  background: #fff;
  font-size: 17px;
  line-height: 26px;
  font-weight: 600;
  width: 100%;
  position: relative;
  transition: all 500ms;
}
.location_list ul li a p,
.location_list ul li button p {
  font-size: 12px;
  line-height: 21px;
  margin-top: 2px;
  font-weight: 400;
  color: #808080;
  transition: all 500ms;
}
.location_list ul li a:hover,
.location_list ul li button:hover {
  border: 1px solid #5f1a89;
  box-shadow: 0px 5px 5px rgba(0, 0, 0, 0.18);
  transition: all 500ms;
}
.location_list ul li a:before,
.location_list ul li button:before {
  content: "\ef79";
  font-family: "IcoFont";
  position: absolute;
  left: 20px;
  right: 0;
  top: 13px;
  margin: 0 auto;
  font-size: 20px;
  color: #000;
  transition: all 500ms;
}
.location_modal .modal-header .close {
  opacity: 1;
  position: absolute;
  top: 12px;
  right: 14px;
  margin: 0;
}
.location-modal-body {
  padding: 0px;
}
.modal-header {
  padding: 0px;
  border: 0 none;
}
@media (min-width: 768px) {
  .modal-dialog {
    width: 700px;
    margin: 30px auto;
  }
}
@media (max-width: 1450px){
  .slider-contents {
    padding: 7.5% 0;
    min-height: 700px;
  }
}
@media (max-width: 1024px) and (orientation: landscape) {
  nav.navbar.bootsnav ul.nav > li > a {
    padding: 6px 12px;
  }
}
/* Final Fixing */
/* Final Fixing */
/* Final Fixing */
/* Final Fixing */
html, body {
  font-family: 'Heebo', sans-serif!important;
}
.movie-item-title {
  margin-bottom: -38px;
  overflow: hidden;
  opacity: 0
}
.movie-item-content:hover .movie-item-title {
  margin-bottom: 0;
  opacity: 1;
  transition: all .4s ease-in-out
}
.bs-slider {
  max-height: 400px;
}
.slider-content > h2 {
  font-weight: 400;
  font-size: 46px;
}
.slider-content > p {
  line-height: 28px;
  font-size: 16px;
}
.slider-contents::before {
  background: none;
  background-image: linear-gradient(to right, rgba(0, 0, 0, 0.8) , rgba(0, 0, 0, 0));
}
.cat-menu ul li a {
  font-size: 22px;
  font-weight: 700;
}
.cat-menu ul li.active span:after {
  height: 3px;
  bottom: -5px;
}
.cat-menu {
  margin-top: 12px;
  margin-bottom: 0px;
}
.hadding-area h2 {
  font-size: 26px;
  font-weight: 500;
}
button.btn.btn-button.btn-border,
a.btn.btn-button.btn-border,
.btn.btn-button,
a.btn.btn-button {
  font-weight: 400;
  padding: 6px 18px;
  font-size: 13px;
}
.inner-page .hadding-area {
  padding-bottom: 0px;
}
.seat-types {
  margin-top: 0;
}
.view-all-movies-1 {
  margin-top: 32px;
}
.ft-widget h2 span {
  font-size: 18px;
  font-weight: 500;
  padding-bottom: 6px;
}
.latest-news-small .movie-item-title a,
.movie-item-title > a {
  letter-spacing: 0px;
  font-size: 14px;
  line-height: 22px;
}
.movie-item-content:hover .item-cat-hover {
  padding-top: 0px;
}
.item-cat-hover ul li a,
.item-cat-hover ul li span {
  font-size: 12px;
}
.movie-item-content-buttom {
  padding-bottom: 0;
}
.movie-item-content-center {
  top: 20%;
}
.ft-content > ul li a {
  line-height: 28px;
  font-size: 13px;
}
.widget-title {
  font-size: 16px;
  font-weight: 500;
  letter-spacing: 1px;
}
.location_list ul li button:before,
.location_list ul li a:before,
.styled-select#lang-selector:after {
  color: #5f1a89;
  content: "\f041";
  font-family: "FontAwesome";
  right: 13px;
}
h5.showtime-heading {
  font-weight: 400;
}
.location_pick_modal {
  border: 0 none;
  border-right: 1px solid #9a9ea1;
  background: #fff;
  font-size: 11px;
}
.location_modal .modal-content .ticket_list ul {
  max-height: 100%;
}
.ticket_list_item,
.location_modal .modal-content .ticket_list ul li {
  margin-bottom: 0px;
}
.details-big-img {
  height: 400px;
}
.details-big-img:hover img {
  transform: scale(1);
}
.details-big-img img {
  -webkit-filter: blur(10px);
  filter: blur(10px);
}
h4,
h2.title,
.details-title > h2 {
  font-size: 22px;
  font-weight: 500;
  letter-spacing: 1px;
}
.details-slider-content h4 {
  font-size: 18px;
  font-weight: 400;
}
.details-title > h2 {
  font-size: 19px;
}
.details-reviews {
  margin-top: -33%;
}
.details-big-img:after {
  background: none;
  background-image: linear-gradient(to top, rgba(0, 0, 0, 0.8) , rgba(0, 0, 0, 0));
}
.media_list li .media-text-body h3 {
  font-size: 22px;
}
.swal-footer {
  text-align: center;
}
.swal-footer .swal-button {
  background-color: #5f1a89;
  border: 2px solid #5f1a89;
}
.category-movie-items .owl-nav {
  position: absolute;
  right: 0;
  bottom: 63%;
  top: auto;
  width: 100%;
}
.category-movie-items .owl-controls .owl-nav .owl-prev {
  left: -60px;
  top: 0;
  position: absolute;
  background: rgba(255, 255, 255, 0.8);
  border-radius: 0;
  width: 50px;
  height: 80px;
  border-radius: 4px 0px 0px 4px;
  border: 0 none;
  line-height: 72px;
  padding-left: 12px;
}
.category-movie-items .owl-controls .owl-nav .owl-next {
  right: -60px;
  top: -45%;
  position: absolute;
  background: rgba(255, 255, 255, 0.8);
  border-radius: 4px 0px 0px 4px;
  width: 50px;
  height: 80px;
  border: 0 none;
  line-height: 80px;
}
.category-movie-items .flaticon-send:hover,
.category-movie-items .owl-prev .flaticon-send,
.category-movie-items .owl-next .flaticon-send {
  color: #5f1a89;
}
.category-movie-items .flaticon-send:after,
.category-movie-items .flaticon-send:before {
  font-size: 18px;
}
.category-slide:hover .owl-controls .owl-nav .owl-prev {
  left: 0;
}
.category-slide:hover .owl-controls .owl-nav .owl-next {
  right: 0;
}
.login-form {
  margin: 0 0 100px;
  border: 0 none;
  background: #fff;
  box-shadow: 0 30px 30px 0 rgba(95, 26, 137, 0.15);
}
.login-form h2 {
  padding: 20px 15px;
  text-align: center;
  font-weight: 500;
  font-size: 20px;
  text-transform: capitalize;
}
.green {
  color: #b945ff;
}
.login-form form a {
  text-decoration: none;
  color: #8b8f9c;
  font-size: 12px;
}
.login-form form a.register_now {
  padding: 20px 0px 0px;
}
.login-form label {
  text-align: left;
  line-height: 18px;
  color: #5f6163;
  font-weight: 500;
  font-size: 13px;
}
.login-form .forgat-pass {
  margin-top: 2px;
  text-align: right;
}
.login-form .remember-me {
  margin-right: 0;
}
.login-form .buttons {
  margin-top: 20px;
}
.login-form .buttons .btn.btn-button {
  margin-bottom: 0px;
  text-transform: uppercase;
  font-size: 15px;
  font-weight: 500;
  letter-spacing: 1px;
}
.login-form .buttons .btn.btn-button:hover {
  color: #fff;
  background-color: #5f1a89;
  box-shadow: 0 30px 30px 0 rgba(95, 26, 137, 0.15);
}
.mb-0 {
  margin-bottom: 0!important;
}
body .main.bg_white .inner-page {
  background: #f8eff4;
  padding: 30px 0;
  font-family: 'Poppins', sans-serif;
}
.ticket_plan h3,
.ticket_booking_right h3,
.ticket_booking_left h3 {
  font-size: 20px;
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: normal;
  text-align: left;
  color: #060f19;
  margin-bottom: 14px;
}
.ticket_booking_left .theater_location h3 {
  margin-bottom: 0;
}
.ticket_booking_left a {
  font-size: 15px;
  font-weight: 500;
  color: #6e4b84;
}
.ticket_booking_left .ticket_booking_left_item {
  margin-bottom: 30px;
  float: left;
  width: 100%;
}
.theater_location {
  border-bottom: 1px solid rgba(110, 75, 132, 0.2);
  padding-bottom: 15px;
}
.movie_show_date ul li {
  border-radius: 6px;
  box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.1);
  background-color: #ffffff;
  padding: 10px 10px 2px 10px;
  cursor: pointer;
  -webkit-transition: .5s;
  transition: all .5s;
}
.movie_show_date ul li:hover {
  box-shadow: 0 10px 20px 0 rgba(95, 26, 137, 0.4);
  -webkit-transition: .5s;
  transition: all .5s;
}
.movie_show_date ul li .input-group {
  height: 100%;
  margin-right: -1px;
  width: 90px;
}
.movie_show_date ul li .input-group .form-control {
  width: 56px;
  height: 100%;
  border: 1px solid #fff;
  box-shadow: none;
  font-size: 25px;
  font-weight: 500;
  background: #fff;
  color: #5f1a89;
}
.movie_show_date ul li .input-group-btn {
  width: 100%;
  border-radius: 4px;
  overflow: hidden;
  padding: 0;
  box-shadow: none;
  border: 0 none;
}
.movie_show_date ul li .input-group button {
  height: 100%;
  border: 1px solid #fff;
  border-radius: 4px;
  background-color: #f8eff4;
  padding: 0 6px;
}
.movie_show_date ul li p {
  font-size: 11px;
  font-weight: 500;
  line-height: 1.55;
  text-align: left;
  color: #8b8f9c;
}
.movie_show_date ul li span {
  font-size: 22px;
  line-height: 1.46;
  text-align: left;
  color: #8b8f9c;
}
.movie_show_date ul li small {
  font-size: 10px;
  line-height: 1.6;
  text-align: right;
  color: #8b8f9c;
  position: relative;
  left: -5px;
}
.movie_show_date ul li.selected {
  border-radius: 6px;
  border: solid 2px #5f1a89;
  background-color: #f5e5ff;
}
.movie_show_date ul li.selected p {
  font-weight: 600;
  color: #5f1a89;
}
.movie_show_date ul li.selected span {
  font-weight: 500;
  color: #5f1a89;
}
.movie_show_date ul li.selected small {
  font-weight: 500;
  color: #5f1a89;
}
.movie_show_date ul li:last-child {
  padding: 0;
  margin-right: 0;
}
.movie_list_item {
  flex-wrap: wrap;
}
.movie_list_item li {
  margin: 0 10px 20px 0;
  /* border: 1px solid rgba(0,0,0,.12); */
  border-radius: 2px;
  -webkit-box-flex: 0;
  flex: 0 0 15.35%;
  max-width: 16%;
  position: relative;
  cursor: pointer;
  -webkit-transition: .5s;
  transition: all .5s;
}
.movie_list_item li:hover img {
  border-radius: 8px;
  box-shadow: 0 10px 20px 0 rgba(95, 26, 137, 0.4);
  -webkit-transition: .5s;
  transition: all .5s;
}
.movie_list_item li p {
  font-size: 12px;
  line-height: 1.5;
  color: #958b9c;
  margin-top: 7px;
}
.movie_list_item li.selected img {
  border-radius: 8px;
  border: solid 2px #5f1a89;
  box-shadow: 0 10px 20px 0 rgba(95, 26, 137, 0.4);
}
.movie_list_item li.selected p {
  font-size: 12px;
  font-weight: 600;
  line-height: 1.5;
  color: #5f1a89;
}
.movie_list_item li .if_selected {
  position: absolute;
  left: 0;
  width: 100%;
  height: 100%;
  text-align: center;
  top: -22%;
  display: none;
}
.movie_list_item li.selected .if_selected {
  display: block;
  top: 28%;
}
.movie_list_item li.selected .if_selected img {
  border: 0 none;
  box-shadow: none;
  border-radius: 0;
}
.movie_list_item li:nth-child(12),
.movie_list_item li:nth-child(6) {
  margin-right: 0;
}
.card-wrap {
  background-color: #fff;
  border-radius: 6px;
  padding: 20px 0;
  float: left;
  width: 100%;
  margin-bottom: 10px;
  position: relative;
  box-shadow: 0 1px 2px 0 rgba(0,0,0,.1);
}
.ticket_qty .card-wrap {
  padding: 16px 20px 17px;
}
.showtime-list-view {
  position: relative;
  float: left;
  padding-left: 53px;
  background: url(../images/icons/unchecked.svg) no-repeat 16px 50%;
}
.showtime-list-view p {
  margin-bottom: 3px;
  color: #8b8f9c;
  font-size: 13px;
  line-height: 1.42857143;
}
.showtime-list-view h3 {
  font-size: 17px;
  margin: 0;
  font-weight: 500;
  line-height: 1.1;
}
.showtime-each-view {
  padding: 0 20px 0 0;
  margin: 0;
  list-style: none;
  float: right;
  width: 76%;
}
.showtime-each-view li {
  display: inline-block;
  margin-right: 12px;
}
.showtime-each-view li a {
  color: #8b8f9c;
  font-weight: 400;
  display: block;
  border: 1px solid #dadfe6;
  padding: 8px 22px;
  border-radius: 6px;
  line-height: 1.42857143;
  -webkit-transition: .5s;
  transition: all .5s;
}
.showtime-each-view li a:hover {
  color: #5f1a89;
  border: solid 1px #5f1a89;
  box-shadow: 0 10px 20px 0 rgba(95, 26, 137, 0.4);
  -webkit-transition: .5s;
  transition: all .5s;
}
.showtime-each-view li.selected a {
  font-weight: 600;
  color: #5f1a89;
  border: solid 2px #5f1a89;
  /* box-shadow: 0 10px 20px 0 rgba(95, 26, 137, 0.4); */
  -webkit-transition: .5s;
  transition: all .5s;
}
.ticket_qty_view {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  text-align: center;
}
.ticket_qty_view h4 small,
.ticket_qty_view h4 {
  font-size: 17px;
  font-weight: 500;
  color: #060f19;
  letter-spacing: normal;
}
.ticket_qty_view span {
  font-size: 11px;
  line-height: 1.55;
  letter-spacing: normal;
  color: #8b8f9c;
}
.ticket_qty_view img {
  font-size: 11px;
  line-height: 1.55;
  letter-spacing: normal;
  color: #8b8f9c;
  cursor: pointer;
  border-radius: 6px;
  transition: all 500ms;
}
.ticket_qty_view img:hover {
  box-shadow: 0 4px 10px 0 rgba(95, 26, 137, 0.4);
  transition: all 500ms;
}
.radio-primary {
  position: relative;
  padding-left: 16px;
  float: left;
  margin-right: 4px;
}
.radio-primary input[type=radio] {
    opacity: 0;
    z-index: 1;
    outline: 0;
    box-shadow: none;
}
.radio-primary [type=radio]:checked,
.radio-primary [type=radio]:not(:checked) {
    position: relative;
    left: -9999px;
    display: none;
}
.radio-primary input[type=radio]:not(:checked)~label,
.radio-primary input[type=radio]:checked~label {
    pointer-events: auto;
    left: 0;
    top: 0;
    pointer-events: auto;
    float: left;
    position: relative;
    padding-left: 38px;
    font-size: 15px;
    font-weight: 500;
    color: #060f19;
    letter-spacing: normal;
    line-height: 24px;
    width: 100%;
    margin-bottom: 0;
    cursor: pointer;
}
.radio-primary label span {
  font-size: 11px;
  font-weight: 300;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.55;
  letter-spacing: normal;
  text-align: left;
  color: #8b8f9c;
  display: block;
}
.radio-primary label::before {
  content: "";
  display: inline-block;
  position: absolute;
  width: 23px;
  height: 23px;
  left: 0;
  top: 8px;
  margin-top: 0;
  margin-left: 0;
  background: url(../images/icons/unchecked.svg) no-repeat 0% 0%;
  -webkit-transition: border .15s ease-in-out,color .15s ease-in-out;
  transition: border .15s ease-in-out,color .15s ease-in-out;
}
.radio-primary input[type=radio]:checked+label::after {
  content: "";
  display: inline-block;
  position: absolute;
  width: 22px;
  height: 22px;
  left: 0;
  top: 8px;
  margin-top: 0;
  margin-left: 0;
  background: url(../images/icons/checked.svg) no-repeat 0% 0%;
  -webkit-transition: border .15s ease-in-out,color .15s ease-in-out;
  transition: border .15s ease-in-out,color .15s ease-in-out;
  box-shadow: 0 4px 10px 0 rgba(95, 26, 137, 0.4);
  border-radius: 50%;
}
.responsive-seat-plan-wrap .ticket_cat_status {
  margin-bottom: 10px;
}
.responsive-seat-plan-wrap p.scroll-text {
  margin-bottom: 14px;
  text-align: center;
  font-size: 12px;
  line-height: 1.6;
  color: #2b3a6d;
  font-weight: 500;
}
.responsive-seat-plan {
  float: left;
  width: 100%;
  text-align: center;
  margin: 0 auto;
  float: left;
  overflow-x: auto;
  overflow-y: hidden;
  white-space: nowrap;
}
.responsive-seat-plan p.screen_name,
.responsive-seat-plan .projection-wall,
.responsive-seat-plan .seat-plan {
  width: 1000px;
}
.seat-plan {
  float: left;
  width: 100%;
  text-align: center;
  margin: 0 auto;
}
.seat-plan ul {
    border: 0;
    height: auto;
    display: inline-block;
    width: 20px;
    padding: 0;
    margin: 0;
    list-style: none;
    position: relative;
}
.seat-plan ul li {
    display: inline-block;
    float: left;
    width: 100%;
    text-align: center;
    padding: 0;
    margin-bottom: 10px;
    min-height: 20px;
    max-height: 22px;
}
.seat-plan ul li:last-child {
    margin-bottom: 0;
}
.seat-plan ul li a {
  border-radius: 4px;
  display: block;
  width: 20px;
  height: 20px;
  font-weight: 500;
  font-size: 10px;
  background: url(../images/icons/seat-reg.svg) no-repeat 0% 0%;
  line-height: 20px;
  background-size: contain;
}
.seat-plan ul li a:hover {
  background: url(../images/icons/seat-select.svg) no-repeat 0% 0%;
  box-shadow: 0 4px 10px 0 rgba(95, 26, 137, 0.4);
  background-size: contain;
  color: #5f1a89;
}
.seat-plan ul li a.selected {
  background: url(../images/icons/seat-select.svg) no-repeat 0% 0%;
  box-shadow: 0 4px 10px 0 rgba(95, 26, 137, 0.4);
  background-size: contain;
  color: #5f1a89;
}
.seat-plan ul li a.booked {
  background: url(../images/icons/seat-booked.svg) no-repeat 0% 0%;
  background-size: contain;
  color: #b4b7c2;
}
.seat-plan ul li a.disabled:hover,
.seat-plan ul li a.booked:hover {
  cursor: not-allowed;
}
.seat-plan ul li a.disabled {
  background: url(../images/icons/seat-disable.svg) no-repeat 0% 0%;
  background-size: contain;
  color: #fff;
}
.seat-plan ul li a.premium {
  background: url(../images/icons/seat-pre.svg) no-repeat 0% 0%;
  background-size: contain;
  color: #f1a7a7;
}
.seat-plan ul li a.vip {
  background: url(../images/icons/seat-vip.svg) no-repeat 0% 0%;
  background-size: contain;
  color: #75c5df;
}
.ticket_plan .card-wrap {
  padding: 20px;
  overflow: hidden;
}
.ticket_plan .card-wrap p.screen_name {
  font-size: 13px;
  font-weight: 500;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.6;
  letter-spacing: 2px;
  text-align: center;
  color: #c09fd4;
}
.projection-wall {
  width: 100%;
  box-shadow: 0 -10px 30px 0 rgba(95, 26, 137, 0.5);
  border: solid 6px #ab7ac8;
  border-radius: 6px;
  margin-top: 40px;
  margin-bottom: 10px;
}
.ticket_cat_status {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  text-align: center;
  border-bottom: 1px solid #dadfe6;
  margin-bottom: 30px;
  padding-bottom: 14px;
}
.ticket_cat_status ul {
  list-style: none;
}
.ticket_cat_status ul li {
  display: inline-block;
  padding-left: 28px;
  margin-right: 10px;
  position: relative;
  font-size: 12px;
  line-height: 1.6;
  text-align: left;
  color: #2b3a6d;
  font-weight: 500;
}
.ticket_cat li::after {
  content: '';
  position: absolute;
  left: 0;
  top: 0;
  width: 16px;
  height: 16px;
  border-radius: 2px;
}
.ticket_cat .ticket_cat_reg::after {
  background: url(../images/icons/seat-reg.svg) no-repeat 0% 0%;
  background-size: contain;
}
.ticket_cat .ticket_cat_pre::after {
  background: url(../images/icons/seat-pre.svg) no-repeat 0% 0%;
  background-size: contain;
}
.ticket_cat .ticket_cat_vip::after {
  background: url(../images/icons/seat-vip.svg) no-repeat 0% 0%;
  background-size: contain;
}
.ticket_status li::after {
  content: '';
  position: absolute;
  left: 0;
  top: 0;
  width: 16px;
  height: 16px;
  border-radius: 2px;
}
.ticket_status .ticket_status_ok::after {
  background: url(../images/icons/seat-reg.svg) no-repeat 0% 0%;
  background-size: contain;
}
.ticket_status .ticket_status_select::after {
  background: url(../images/icons/seat-select.svg) no-repeat 0% 0%;
  background-size: contain;
}
.ticket_status .ticket_status_booked::after {
  background: url(../images/icons/seat-booked.svg) no-repeat 0% 0%;
  background-size: contain;
}
.ticket_status .ticket_status_disable::after {
  background: url(../images/icons/seat-disable.svg) no-repeat 0% 0%;
  background-size: contain;
}
.ticket_booking_right {
  float: left;
  width: 100%;
  will-change: min-height;
}
.ticket_booking_right .card-wrap {
  border-radius: 6px;
  box-shadow: 0 30px 30px 0 rgba(95, 26, 137, 0.15);
}
.ticket_booking_right .card-wrap {
  padding: 15px;
}
.ticket_booking_right .card-wrap p {
  font-size: 12px;
  line-height: 18px;
  color: #958b9c;
}
.ticket_booking_right .card-wrap p.copywrite {
  font-size: 10px;
}
.ticket_booking_right .card-wrap p.copywrite a {
  color: #5f1a89;
  text-decoration: underline;
  font-weight: 500;
}
.ticket_booking_right .card-wrap img {
  width: 80px;
  float: left;
  border-radius: 6px;
  margin-right: 12px;
}
.ticket_booking_right .card-wrap .movie-details-info {

}
.ticket_booking_right .card-wrap .movie-details-info h2 {
  font-size: 15px;
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: normal;
  color: #5f1a89;
}
.ticket_booking_right .card-wrap .movie-details-info span {
  color: #5f1a89;
  font-size: 10px;
  border: 1px solid #5f1a89;
  border-radius: 3px;
  padding: 0px 2px;
  font-weight: 600;
  position: relative;
  top: 0;
}
.ticket_booking_right .card-wrap .movie-details-info p {
  font-size: 11px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.55;
  letter-spacing: normal;
  text-align: left;
  color: #958b9c;
  margin-top: 2px;
}
.ticket_booking_right .card-wrap ul {
  padding-bottom: 15px;
  border-bottom: 1px solid #dadfe6;
}
.ticket_booking_right .card-wrap ul li {
  padding-left: 34px;
  position: relative;
  display: block;
  margin-top: 16px;
  font-size: 13px;
  color: #958b9c;
}
.ticket_booking_right .card-wrap ul li span {
  font-size: 13px;
  font-weight: 600;
  float: right;
  color: #5f1a89;
}
.ticket_booking_right .card-wrap ul li::after {
  content: '';
  position: absolute;
  left: 0;
  top: 0;
  width: 18px;
  height: 18px;
  border-radius: 2px;
}
.ticket_booking_right .card-wrap ul li.show_date::after {
  background: url(../images/icons/show-date.svg) no-repeat 0% 0%;
  background-size: contain;
  top: 1px;
}
.ticket_booking_right .card-wrap ul li.hall_name::after {
  background: url(../images/icons/hall-name.svg) no-repeat 0% 0%;
  background-size: contain;
  top: 3px;
  width: 20px;
}
.ticket_booking_right .card-wrap ul li.show_time::after {
  background: url(../images/icons/show-time.svg) no-repeat 0% 0%;
  background-size: contain;
  top: 2px;
}
.ticket_booking_right .card-wrap ul li.seat_type::after {
  background: url(../images/icons/seat-type.svg) no-repeat 0% 0%;
  background-size: contain;
  top: 1px;
  width: 20px;
}
.ticket_booking_right .card-wrap ul li.ticket_qty::after {
  background: url(../images/icons/ticket-qty.svg) no-repeat 0% 0%;
  background-size: contain;
  top: 3px;
  width: 20px;
}
.ticket_booking_right .card-wrap ul li.selected_seat::after {
  background: url(../images/icons/seat-type.svg) no-repeat 0% 0%;
  background-size: contain;
  top: 1px;
  width: 20px;
}
.ticket_for {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  text-align: center;
  margin: 15px 0;
}
.ticket_for .radio-primary {
  margin-right: 0;
}
.ticket_for .radio-primary input[type=radio]:not(:checked)~label,
.ticket_for .radio-primary input[type=radio]:checked~label {
  font-size: 13px;
  font-weight: 400;
  color: #958b9c;
  padding-left: 26px;
  text-transform: uppercase;
}
.ticket_for .radio-primary input[type=radio]:checked~label {
  font-weight: 600;
  color: #5f1a89;
}
.ticket_for .radio-primary label::before {
  top: 0;
  background-size: 20px;
}
.ticket_for .radio-primary input[type=radio]:checked+label::before {
  background: none;
}
.ticket_for .radio-primary input[type=radio]:checked+label::after {
  top: 1px;
  left: 1px;
  background-size: 19px;
  width: 19px;
  height: 19px;
}
.ticket_booking_right .card-wrap .btn.btn-primary {
  border-radius: 6px;
  background-color: #5f1a89;
  border-color: #5f1a89;
  font-size: 13px;
  font-weight: 500;
  letter-spacing: 0.65px;
  text-align: left;
  color: #ffffff;
  text-align: center;
  padding: 10px 0;
  text-transform: uppercase;
  margin-bottom: 10px;
}
.other_ticket_form {
  margin: 10px 0;
  display: none;
}
.other_ticket_form input.form-control {
  height: 38px;
  border-radius: 6px;
  border: solid 1px #dadfe6;
  box-shadow: none;
  margin-bottom: 10px;
  font-size: 12px;
}
.profile-head {
    text-align: center;
}
.profile-img {
    position: relative;
}
.profile-img img {
    width: 100px;
    border-radius: 50%;
}
.profile-head h3 {
    font-size: 16px;
    font-weight: 600;
    color: #000;
    margin: 16px 0 4px;
}
.profile-head p {
    font-size: 13px;
    font-weight: 500;
    color: #252627;
    margin-bottom: 10px;
}
.profile-head .btn-secondry {
  font-weight: 600;
  color: #5f1a89;
  border: solid 2px #5f1a89;
  background-color: #f5e5ff;
  padding: 4px 36px;
  text-transform: capitalize;
  font-size: 12px;
  border-radius: 40px;
  -webkit-transition: .5s;
  transition: all .5s;
}
.profile-navs {
    margin-top: 20px;
    float: left;
    width: 100%;
}
.profile-navs h3 {
    font-size: 16px;
    font-weight: 500;
    background: #f7f7f7;
    padding: 10px 20px;
    margin: 0 0 10px;
    letter-spacing: 1px;
}
.profile-navs ul {
    padding: 0 20px;
    margin: 0;
    list-style: none;
    float: left;
    width: 100%;
}
.profile-navs ul li a {
    display: block;
    padding: 10px 0;
    color: #5f1a89;
    font-weight: 500;
}
.profile-navs ul li a img {
    float: left;
    margin: 4px 16px 0 0;
    width: 16px;
}
.my_account_right .card-wrap {
  padding: 20px;
}
.profile-info {
    padding-top: 10px;
    margin-bottom: 30px;
}
.profile-info h2 {
    font-size: 18px;
    font-weight: 500;
    margin: 0 0 20px;
    color: #000;
}
.profile-info ul {
  padding: 0;
  margin: 0 0 20px;
  list-style: none;
  float: left;
  width: 100%;
}
.profile-info ul li {
    position: relative;
    float: left;
    width: 100%;
}
.profile-info ul li .inner-row {
    border-bottom: 1px dashed #e8e8e8;
    padding: 8px 0;
    float: left;
    width: 100%;
}
.profile-info ul li:first-child .inner-row {
    border-top: 1px dashed #e8e8e8;
    border-bottom: 1px dashed #e8e8e8;
}
.profile-info ul li label {
    font-size: 13px;
    font-weight: 400;
    color: #777f88;
    margin: 0;
}
.profile-info ul li p {
    font-size: 13px;
    color: #5f1a89;
    margin: 0;
    font-weight: 500;
}
.profile-info .btn-primary {
  background: #5f1a89;
  border-color: #5f1a89;
}
.header-logout-area .header-search {
  text-align: right;
  font-family: Poppins, sans-serif;
}
.header-logout-area .header-search button {
  position: relative;
}
.pl-0 {
  padding-left: 0!important
}
@media (min-width: 700px) {
  .d-flex {
    display: -webkit-box;
    display: flex;
    margin: 0;
    padding: 0;
    position: relative;
  }
  .flex-equal-width {
    margin: 0 10px 0 0;
    flex-basis: 0;
    -webkit-box-flex: 1;
    flex-grow: 1;
    max-width: 100%;
  }
}
@media (max-width: 1080px) {
  nav.navbar.bootsnav ul.nav > li > a {
    padding: 8px 15px;
    font-size: 12px;
  }
  .slider-content > h2 {
    font-size: 36px;
  }
  .slider-content > p {
    padding-left: 0px;
  }
}
@media (max-width: 980px) {
  button.btn.btn-button.btn-border,
  a.btn.btn-button.btn-border,
  .btn.btn-button,
  a.btn.btn-button {
    padding: 6px 14px;
  }
  .navbar-toggle i:before {
    content: "\f0c9";
  }
  #navbar-menu {
    z-index: 999;
    position: relative;
    margin-top: -5px;
  }
  .wrap-sticky nav.navbar.bootsnav {
    z-index: 99;
  }
  nav.navbar.bootsnav .navbar-nav>li>a {
    border-bottom: solid 1px rgba(224, 224, 224, 0.25);
    border-top: 0 none;
  }
  nav.navbar.bootsnav ul.nav > li > a {
    padding: 10px 15px;
    font-size: 14px;
  }
  nav.navbar.bootsnav ul.nav li.megamenu-fw>a:hover,
  nav.navbar.bootsnav ul.nav > li.active > a,
  nav.navbar.bootsnav ul.nav > li.active > a:hover,
  nav.navbar.bootsnav ul.nav > li > a:hover,
  button.btn.btn-button.btn-border,
  a.btn.btn-button.btn-border,
  .btn.btn-button, a.btn.btn-button,
  .cat-menu ul li button,
  .header-search button {
    border-radius: 0px;
  }
  .header-search .header-search-input.search-open {
    border-color: #fff;
  }
  .details-big-img {
    height: auto;
  }
  .header-search {
    margin: 20px 0px 0px;
  }
  .header-search button {
    background: none;
    padding: 0;
  }
  .header-search button span {
    font-size: 18px;
  }
  .header-search button:hover {
    background: none;
    color: #fff;
  }
  .header-search .header-search-input{
    width: 0px;
    position: absolute;
    right: -10px;
    top: -9px;
    background: #000;
    padding: 0px;
  }
  .header-search .header-search-input.search-open {
    width: 100%;
    position: relative;
    right: -10px;
    top: -9px;
    background: #000;
  }
  .navbar-toggle {
    float: left;
    padding: 0;
    margin-top: 20px;
    display: block;
  }
  .navbar-toggle i {
    color: #fff;
    font-size: 24px;
  }
  .time-select.time-select__group .btn.btn-button.red-bg.button-1 {
    margin-left: 12px;
    margin-top: 2px;
  }
  .cat-menu ul li {
    margin-right: 0;
  }
  .cat-menu ul li a span {
    font-size: 26px;
    font-weight: 700;
  }
  .slider-contents {
    padding: 12% 0;
  }
  .slider-contents::before {
    min-height: 100vh;
  }
  .slider-content > h2 {
    font-size: 28px;
    margin-bottom: 20px;
  }
  .slider-content > p {
    display: none;
  }
  .social .attr-nav {
    width: 96%;
    margin: -5px 15px 0px 0px;
    right: 0;
    float: none;
    display: initial;
  }
  .social .attr-nav .styled-select {
    background: none;
    height: 40px;
    line-height: 40px;
    position: relative;
  }
  .social .attr-nav .styled-select select {
    color: #fff;
    width: 100%;
  }
  .styled-select#lang-selector:after {
    color: #5f1a89;
  }
  .social .attr-nav .styled-select {
    background: #fff;
  }
  .social .attr-nav .styled-select button {
    width: 100%;
    background: #fff;
  }
  .slider-contents {
    min-height: 300px;
  }
  .bs-slider {
    max-height: 300px;
  }
  .latest-news-small .movie-item-contents img {
    height: auto;
  }
  .footer-bg {
    padding-top: 0px;
  }
  .location_modal .modal-content ul {
    width: 100%;
  }
  .latest-news-small {
    margin-top: 0px;
  }
  .header-logout-area .header-search {
    margin: 5px 0 0;
  }
  .header-logout-area .header-search button {
    background: #5f1a89;
    border: none;
    padding: 6px 36px;
    border-radius: 4px;
  }
}
@media (max-width: 640px) {
  .navbar-toggle i.fa-bars:before {
    content: "\f0c9";
  }
  .navbar-toggle i.fa-times:before {
    content: "\f00d";
  }
  .details-big-img {
    height: auto;
  }
  .dec-review-img img {
    width: 34%;
  }
  .details-reviews {
    margin-top: -20%;
  }
  .dec-review-dec {
    margin-top: 6%;
  }
  .slider-contents {
    padding: 7% 0;
  }
  .slider-content > h2 {
    margin-bottom: 0px;
  }
  .copyright p{
    text-align: center!important;
  }
  .location_modal .modal-content .ticket_list ul li {
    width: 50%;
    float: left;
  }
  .movie-item-title {
    text-overflow: initial;
    white-space: initial;
  }
  .cat-menu ul li {
    margin-right: 20px;
  }
  .category-movie {
    padding-bottom: 0px;
  }
  .cat-menu {
    margin-top: 6px;
  }
  .showtime-each-view {
    width: 62%;
  }
  .showtime-each-view li a {
    font-size: 14px;
    padding: 8px 12px;
    margin-bottom: 10px;
  }
  .movie_show_date ul li {
    width: 30%;
    float: left;
    margin-right: 10px;
    margin-bottom: 10px;
    min-height: 65px;
  }
  .movie_show_date ul li .input-group-btn {
    height: 65px;
  }
  .movie_list_item {
    flex-wrap: wrap;
    display: flex;
    position: relative;
  }
  .movie_list_item li {
    flex: 0 0 30%;
    max-width: 30%;
  }
  .movie_list_item li:nth-child(12),
  .movie_list_item li:nth-child(9),
  .movie_list_item li:nth-child(6),
  .movie_list_item li:nth-child(3) {
    margin-right: 0;
  }
}
@media (max-width: 480px) {
  .location_modal .modal-content {
    padding: 20px 10px;
  }
  .location_modal .modal-content ul {
    width: 100%;
    margin: 30px auto 0;
  }
  .category-movie {
    padding-top: 0px;
  }
  .header-search button {
    background: none;
    padding: 0;
  }
  .header-search button:hover {
    background: none;
    color: #fff;
  }
  .header-search .header-search-input{
    width: 0px;
    position: absolute;
    right: -10px;
    top: -9px;
    background: #000;
    padding: 0px;
  }
  .header-search .header-search-input.search-open {
    width: 340px;
    position: absolute;
    right: -10px;
    top: -9px;
    background: #000;
  }
  .hadding-with-bg {
    padding-bottom: 0;
    margin-bottom: 0;
  }
  .view-all-movies-1 {
    margin-top: 0;
    font-size: 12px!important;
  }
  .cat-menu ul li {
    margin-right: 0;
    margin-bottom: 8px;
  }
  nav.navbar.bootsnav .navbar-collapse.collapsing .navbar-nav,
  nav.navbar.bootsnav .navbar-collapse.collapse .navbar-nav {
    background: #000;
    padding-right: 0;
  }
  nav.navbar.bootsnav {
    padding: 0px 0 10px;
  }
  nav.navbar.bootsnav .navbar-nav>li>a {
    border-top: solid 1px #272727;
    border-bottom: 0 none;
  }
  .wrap-sticky nav.navbar.bootsnav {
    z-index: 999;
  }
  .wrap-sticky nav.navbar.bootsnav.sticked {
    position: relative;
  }
  .cat-menu ul li a span,
  .hadding-area h2 {
    display: inline;
    font-size: 22px;
    font-weight: 500;
  }
  .cat-menu ul li a span {
    display: inline;
    font-size: 20px;
    font-weight: 500;
  }
  .hadding-area h2 {
    line-height: 40px;
  }
  .cat-menu ul li.active span:after {
    height: 4px;
    bottom: -6px;
  }
  nav.navbar.bootsnav ul.nav > li > a {
    margin-bottom: 0;
    background: #000;
  }
  .slider-content > h2 {
    font-size: 22px;
    padding: 0;
    margin-bottom: 10px;
  }
  .footer-bg {
    padding-top: 0;
  }
  .item-cat-hover,
  .movie-item-title {
    padding-left: 12px;
  }
  .movie-item-title > a {
    font-size: 17px;
  }
  .btn.btn-button, a.btn.btn-button,
  button.btn.btn-button.btn-border,
  a.btn.btn-button.btn-border {
    font-size: 14px;
    z-index: 997;
    position: relative;
  }
  .btn.btn-button.white-outline {
    margin-bottom: 0;
  }
  .cat-menu ul li a {
    margin-right: 20px;
  }
  /* nav.navbar.bootsnav .navbar-collapse.collapse.in,
  nav.navbar.bootsnav .navbar-collapse.collapse.in .navbar-nav {
  padding: 0;
  color: #000;
  } */
  .location_modal .modal-content .ticket_list ul li {
    width: 100%;
    float: none;
  }
  .slider-content > h2 {
    font-size: 22px;
    padding: 0;
    margin-bottom: 10px;
  }
  .social .attr-nav .styled-select {
    background: #fff;
  }
  .social .attr-nav .styled-select button {
    width: 100%;
    background: #fff;
  }
  .ticket_cat_status ul li {
    display: inherit;
  }
  .radio-primary {
    margin-bottom: 10px;
  }
  .radio-primary:last-child {
    margin-bottom: 0px;
  }
  .seat-plan ul li {
    margin-bottom: 3px;
  }
}
@media (max-width:320px) {
  .showtime-each-view {
    width: 100%;
    padding: 14px 0px 0px 20px;
  }
  .showtime-each-view li a {
    font-size: 14px;
    padding: 8px 12px;
    margin-bottom: 10px;
  }
  .movie_show_date ul li {
    width: 30%;
    float: left;
    margin-right: 8px;
    margin-bottom: 10px;
    min-height: 65px;
  }
  .movie_show_date ul li .input-group-btn {
    height: 65px;
  }
  .movie_list_item {
    flex-wrap: wrap;
    display: flex;
    position: relative;
  }
  .movie_list_item li {
    flex: 0 0 30%;
    max-width: 30%;
  }
  .movie_list_item li:nth-child(12),
  .movie_list_item li:nth-child(9),
  .movie_list_item li:nth-child(6),
  .movie_list_item li:nth-child(3) {
    margin-right: 0;
  }
  .showtime-each-view li {
    margin-right: 6px;
  }
}
